<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Route Requests from localhost api to Remote API url" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <action type="Rewrite" url="http://192.168.60.1:3000/{R:1}" logRewrittenUrl="true" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="Convert remote API response to localhost API" preCondition="ResponseIsJSON2">
                    <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^http(s)?://192.168.60.1:3000/(.*)" />
                    <action type="Rewrite" value="api/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsJSON2">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>