<html>
<head>
	<title>Server</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body class="container">
	<div class="page-header">
		<h3>CORS</h3>
	</div>
	<p>
		Cross domain support in IIS by using Application Request Routing and URL Rewrite.
	</p>
	<ol>
		<li><span class="label label-default" style="width:50px;display:inline-block;">GET</span> http://host:port/weather?citypinyin=xxx</li>
		<li><span class="label label-default" style="width:50px;display:inline-block;">POST</span> http://host:port/weather</li>
		<li><span class="label label-default" style="width:50px;display:inline-block;">PUT</span> http://host:port/weather</li>
		<li><span class="label label-default" style="width:50px;display:inline-block;">DELETE</span> http://host:port/weather/:id</li>
	</ol>
</body>
</html>